@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/Product Sans Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/Product Sans Bold.ttf') format('truetype');
  font-weight: bold;
}

* {
  font-family: 'Product Sans', sans-serif;
}

h1 {
  font-family: monospace;
}

.is-size-8 {
  font-size: 0.6rem;
}

.tag:not(body).tag-small {
  font-size: 0.6rem;
}

.meet-icon {
  width: 25px;
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}

.btn-icon {
  height: 1em;
  margin-right: 0.5em;
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
